@import url('https://fonts.googleapis.com/css?family=Noto+Sans');
html,body{
	font-family: 'Noto Sans', sans-serif;
}
.watchword{
	background-image: radial-gradient( circle 999px at 0.2% 50%,  rgba(128,14,168,1) 0%, rgba(195,61,230,1) 52.2%, rgba(214,132,247,1) 88.7% );
	color: #ffffff;
}
.carousel-item:after {
  content:"";
  display:block;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background:rgba(0,0,0,0.6);
}
.carousel{
	top: -98px;
	z-index: -1;
}
.bg-nav{
	background-color: #343a4008!important;
}
nav{
	z-index: 1;
}
.carousel-caption{
	bottom: 0 !important;
	top: 170px !important;
}
.service{
	margin-top: -99px;
}
.service-1{
	background-color: #dddddd;
}
.service-img{
	height: 300px !important;
	width: 100% !important;
}
.hospital1{
	background-image: linear-gradient(#404040d6,#404040d6),url('http://bestnetblog.files.wordpress.com/2012/08/net-sale-in-butagaya-with-volunteer-kats-help1.jpg');
	height: 421px;
	background-position: 0-300px;
}
.hospital{
	margin-top: 100px;
}
.hospital h4{
	padding-top: 60px;
	color: #8d17b4;
	font-size: 30px;
	font-weight: 700;
}
.hospital p{
	color: #ffffff;
}
.service-1 ul{
	margin-left: 40px;
    margin-top: 20px;
}
.service-1 ul li a{
	color: #ffffff !important;
}
.service-1 p{
	color: #ffffff;
}
.nav-pills .nav-link.active{
	background:radial-gradient( circle 999px at 0.2% 50%,  rgba(128,14,168,1) 0%, rgba(195,61,230,1) 52.2%, rgba(214,132,247,1) 88.7% ) !important;
}
.service-btn{
	background: radial-gradient( circle 999px at 0.2% 50%,  rgba(128,14,168,1) 0%, rgba(195,61,230,1) 52.2%, rgba(214,132,247,1) 88.7% ) ;
	border: none;
	margin-left: 50px;
	padding-top: 7px;
    color: #ffffff;
    padding-left: 15px;
    border-radius: 5px;
    padding-bottom: 8px;
    padding-right: 15px;
}
.donate-btn{
	background: radial-gradient( circle 999px at 0.2% 50%,  rgba(128,14,168,1) 0%, rgba(195,61,230,1) 52.2%, rgba(214,132,247,1) 88.7% ) ;
	border: none;
	/* margin-left: 50px; */
	padding-top: 7px;
    color: #ffffff;
    padding-left: 15px;
    border-radius: 5px;
    padding-bottom: 8px;
    padding-right: 15px;
}	
}
.tab-pane p{
	color: #ffffff;
}
.video video{
	margin-left: 182px;
}
.video{
	margin-top: 80px;
}

/* @media (max-width: 768px){ */
	/* .carousel{
		top: -311px;
	} */
	/* nav{ */
		/* background-color: black; */
	/* } */
	/* #carousel{ */
		/* display: none !important; */
	/* } */
/* } */